[run]
source = .
disable_warnings = no-data-collected

omit =
    */__init__.py
    */settings.py
    */manage.py
    */wsgi.py
    */apps.py
    */urls.py
    */admin.py
    */migrations/*
    */tests/*
    */product/api/*
    */api_tests/*