{% extends 'base.html' %}
{% load omfilters %}

{% block content %}

 <div class="row mb-5">
            <div class="col-lg">
                <h2>Order summary</h2>

                <p class="lead">User data</p>
                <p>If you need to edit, <a href="{% url 'costumer:create' %}">click here</a></p>
                <dl class="row">
                    <dt class="col-lg-2">Name:</dt>
                    <dd class="col-lg-4">{{ user.first_name }}</dd>
                    <dt class="col-lg-2">{{ user.last_name }}</dt>


                    <dt class="col-lg-2">Age:</dt>
                    <dd class="col-lg-4">{{ user.profile.age }}</dd>
                    <dt class="col-lg-2">Birth date:</dt>
                    <dd class="col-lg-4">{{ user.profile.birth_date }}</dd>

                    <dt class="col-lg-2">CPF:</dt>
                    <dd class="col-lg-4">{{ user.profile.cpf }}</dd>
                    <dt class="col-lg-2">E-mail:</dt>
                    <dd class="col-lg-4">{{ user.email }}</dd>
                </dl>

                <p class="lead">Address data</p>
                <p>If you need to edit, <a href="{% url 'costumer:create' %}">click here</a></p>
                <dl class="row">
                    <dt class="col-lg-2">Address:</dt>
                    <dd class="col-lg-4">{{ user.profile.address }}</dd>
                    <dt class="col-lg-2">Number:</dt>
                    <dd class="col-lg-4">{{ user.profile.number }}</dd>

                    <dt class="col-lg-2">Adjunct address:</dt>
                    <dd class="col-lg-4">{{ user.profile.adjunct_address }}</dd>

                    <dt class="col-lg-2">City:</dt>
                    <dd class="col-lg-4">{{ user.profile.city }}</dd>
                    <dt class="col-lg-2">State:</dt>
                    <dd class="col-lg-4">{{ user.profile.state }}</dd>

                    <dt class="col-lg-2">ZIP Code:</dt>
                    <dd class="col-lg-4">{{ user.profile.zip_code }}</dd>
                </dl>
            </div>
        </div>



        <div class="row mt-3">
            <div class="col">
                <h3>Cart</h3>
                <p class="lead">The products, quantities and prices you have chosen.</p>
                {% include 'partials/_cart.html' %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <p class="lead  text-center"><span class="font-weight-bold">Cart Total:</span>{{ cart|cart_totals|price_formatted}}</p>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col">
                <a class="btn btn-block btn-primary btn-lg" href="{% url 'product:save_order' %}">
                    Place order and pay.
                </a>
            </div>
        </div>


{% endblock %}