{% extends 'base.html' %}
{% load omfilters %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg">
                <div class="row no-gutters">
                    <div class="col-lg-12">

                        {% if product.image %}
                        <img class="img-fluid" src="{{ product.image.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mt-4 mt-lg-0">
                    <h1 class="h2">{{ product.name }}</h1>
                    <p class="lead">{{ product.short_description|linebreaks }}</p>
                    <p class="lead">
                        {% if product.promotional_price %}
                        <span id="variation-preco-promocional" class="lead product-price">
                            {{ product.promotional_price|price_formatted }}
                        </span>
                        <span id="variation-preco" class="lead product-old-price text-muted">
                            {{ product.price|price_formatted }}
                        </span>
                        {% else %}
                                <span class="lead product-price">
                                {{ product.price|price_formatted }}
                        </span>
                        {% endif %}
                    </p>

                    <form action="/addtocart/" id="form-add-to-cart">
                        <div class="form-group">

                            <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                {% for variation in products.variation %}
                                <option data-preco="{{ variation.price }}"
                                        data-preco-promocional="{{ variation.promotional_price }}" value="45">P</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </button>
                        </div>

                    </form>


                </div>
            </div>
        </div>

                        <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-5 mb-5">
                            <h2 class="text-center">{{ product.name }}</h2>
                            {{ product.long_description }}
                    </div>
                </div>

            </div>
        </div>

{% endblock %}